
	.azquierda
	{
		width: 60%;
		float: left;

	}
	input,textarea
	{
		width: 94%;
		border:solid 1px;
		border-color:#fff;
		border-radius: 10px;
		padding: 7px;
		display: block;
		margin-bottom: 7px;
		font-family: 'Baumans', cursive;
		color: #fff;
		font-size: 18px;
	}
	textarea
	{
		resize:none;
		overflow:hidden;
		white-space: pre-wrap;
		word-wrap: break-word;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		-webkit-box-orient: vertical;
	}
	input[type="Submit"]
	{
		width: 97.5%;
		background-image: url(../imagenes/fboton.png);
		background-size: 100% 100%;
		color:#045aa7;
		margin-top: 10px;
	}
	.aderecha
	{
	
		width:36%;
		float: right;
		
		overflow: hidden;
	}
	.aderecha,.azquierda
	{
		margin-top: 30px;
	}
	.titulo
	{
		font-weight: bold;
		font-size: 24px;
		margin-top: 0px;
		text-align: center;
	}
	#social
	{
		
		width: 100%;
		margin-top: -10px;
	}
	.info
	{
		font-size: 18px;
		text-align: center;

	}