body
		{
			font-family: 'Duru Sans', sans-serif;
		}


		
		.ubicacion
		{
			display: inline-block;		
			vertical-align: top;
			
		}
		#mono
		{
			width: 95px;
			height: 95px;
			
		}

		#dom
		{
			padding-left: 30px;
		}
		#dom p
		{
			margin-top: 0px;
			font-size: 18px;
			font-family: 'Baumans', cursive;

		}


	
	

	#l1
		{
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 0px;
		}
		.cabecera
		{
			overflow: hidden;
			height:40px;
		}

		.cabecera img
		{
			width: 240px;
			margin-top: -8px;

		}
		.eventos
		{
			font-size: 20px;
			font-weight: bold;
			font-family: 'Baumans', cursive;
			margin-bottom: 0px;
			text-align: center;
			text-shadow: 1px 1px 10px #FFF;

		}
		#eventos
		{
			font-family: 'Baumans', cursive;
			margin-top: 0px;
			text-shadow: 1px 1px 10px #FFF;
		}

		#eventos li

		{
			font-family: 'Baumans', cursive;
		}
		.text
		{
			font-size: 16px;
			float: left;
			margin-top: 0px;
			text-align: left;
			width: 100%;
		}
	
		.titulo
		{
			
			font-size: 16px;
			font-weight: bold;

		}
		.hora
		{
			font-size: 14px;
		}
		#evento
		{
			
			font-size: 24px;
			font-weight: bold;
			font-family: 'Baumans', cursive;
			text-align: center;
		}
		.datos
		{
			display: inline-block;
			font-size: 16px;
			margin-bottom: 0px;
			text-align: center;
			vertical-align: top;
			width: 100%;

		}
		#contendor
		{
			font-family: 'Baumans', cursive;
			margin:auto;
			overflow: hidden;
		}

		#foto
		{
			color:#2a5783;
			margin: auto;
			margin-bottom: 0px;
			width: 100%;
		}

		#foto img
		{
			margin-bottom: 0px; 
			width: 100%;
		}
	
		#botones
		{
			float: left;
			margin-bottom: 0px;	
			margin-top: 5px;
			width: 100%;
			font-family: 'Baumans', cursive;
		}
		#botones a
		{
			font-family: 'Baumans', cursive;
		}

		#dt
		{
			overflow: hidden;
			
		}
		#mapa_canvas
		{
			float: left;	
			width: 100%;

		}
		#regresar
		{
			cursor: pointer;
		}
		#informacion
		{
			width: 100%;
			float: left;
			color: #fff;

		}

		#data
		{
			
			border-radius: 5px; 
			background-color: #085498;
			color: #fff;
		
			border:solid 1px;

			float: left;
			overflow: hidden;
			width: 99%;

		}

		#nego,#nome,#mp
		{
			
			background: #004385;
			background: -webkit-gradient(linear, 0 0, 0 bottom, from(#004385), to(#001a32));
			background: -webkit-linear-gradient(#004385, #001a32);
			background: -moz-linear-gradient(#004385, #001a32);
			background: -ms-linear-gradient(#004385, #001a32);
			background: -o-linear-gradient(#004385, #001a32);
			background: linear-gradient(#004385, #001a32);
			-pie-background: linear-gradient(#004385, #001a32);
			behavior: url(/PIE.htc);
			margin-top: 0px;
			padding: 5px;
			text-align: center;
			width: 100%;
			
		}
		#nego
		{
			margin-top: -5px;
			margin-bottom: 0px;
		}

		#nome,#mp
		{
			margin-bottom: 0px;


		}
		
		#info,#descripcion
		{
			color: #fff;
			font-size: 16px;
			text-align:center;
			width: 100%;
	
		}


		#info strong
		{
			font-size: 14px;
		}
		
		#info td
		{
			width: 50%;
		}


		#descripcion
		{
			font-size: 16px;
			margin: auto;
			margin-top: 10px;
			overflow: hidden;
			color:#fff;
			width: 99%;

		}

		.info
		{
			text-align: center;
			vertical-align: top;

		}
		.dat
		{
			text-align: left;
			padding-left: 5px;
		}
		#mp
		{
		
			float: left;
			padding: 0px;
		
		}
		#res
		{
			text-align: center;
			font-weight: bold;
			font-family: 'Baumans', cursive;
			font-size: 20px;
		}
		
		.ui-input-text
		{
			color:#fff;
		}

		

	@media screen and (max-width :510px)
	{
		#image-position img
		{
			width: 70px;
			height: 70px;
		}
		#dom
		{
			width: 100%;
			display: block;
			
			padding: 0;
		}
	}






		
		

